.App {
  text-align: center;
}

ul {
  list-style-type: none;
}
li{
  display: inline;
  margin-left: 10px;
}

li:hover {
  background-color: aquamarine;
}

#myProds {
  display: grid;
  grid-template-columns: 210px 210px 210px 210px;
  grid-gap: 15px;
  margin-left: 255px;
}

.sellerProd {
  width: 210px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  
  box-shadow:         3px 3px 5px 6px #ccc;
}

.sellerProdImg {
  width: 200px;
  height: 200px;
}

#homeProducts {
  display: grid;
  grid-template-columns: 210px 210px 210px 210px;
  grid-gap: 15px;
  margin-left: 246px;
}

.allProds {
  background-color: whitesmoke;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  
  box-shadow:         3px 3px 5px 6px #ccc;
}

.allProdsImgs {
  width: 200px;
  height: 200px;
}