.App {
  text-align: center;
}

ul {
  list-style-type: none;
}
li{
  display: inline;
  margin-left: 10px;
}

li:hover {
  background-color: aquamarine;
}

#myProds {
  display: grid;
  grid-template-columns: 210px 210px 210px 210px;
  grid-gap: 15px;
  margin-left: 255px;
}

.sellerProd {
  width: 210px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  
  box-shadow:         3px 3px 5px 6px #ccc;
}

.stockCondition{
  margin-right: 70px;
}

.sellerProdImg {
  width: 200px;
  height: 200px;
}

#finishedStock{
  border: none;
  background-color: #f44336;
  color: white;

}

#allProducts {
  display: grid;
  grid-template-columns: 22% 78%;
  margin-top: 15px;
}

#chooseCat {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-left: 70px;
}

#budgetInputs{
  margin-left: 40px;
  display: flex;

}

.budget{
  width: 100px;
}

#homeProducts {
  display: grid;
  grid-template-columns: 210px 210px 210px 210px;
  grid-gap: 15px;
  margin-left: 50px;
}

.allProds {
  background-color: whitesmoke;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  
  box-shadow:         3px 3px 5px 6px #ccc;
}

.allProdsImgs {
  width: 200px;
  height: 200px;
}

.searchProd{
  width : 350px;
}

.searchProdsImgs{
  width: 330px;
}