#home{
    display: grid;
    grid-template-columns: 20% 80%;
    font-family: Arial, Helvetica, sans-serif;
}

#choose{
    height: 100%;
    position: fixed;
    background-color: azure;
    width: 17%;

}

#allProds{
    margin-top: 27px;
    margin-left: 250px;
}