<div>
    <input class="signup" name="firstname" type="text" [(ngModel)]="firstname" placeholder="First Name" /><br>
    <input class="signup" name="lastname" type="text" [(ngModel)]="lastname" placeholder="Last Name" /><br>
    <input class="signup" name="email" type="email" [(ngModel)]="email" placeholder="Email" /><br>
    <input class="signup" name="password" type="password" [(ngModel)]="password" placeholder="Password" /><br>
    <input class="signup" name="phonenumber" type="number" [(ngModel)]="phonenumber"
        placeholder="Phone Number +216" /><br>
    <button (click)="signUp()" class="signup">Sign Up</button>
</div>