<div>
    <h4>Categories:</h4>
    <div>
        <label for="men">Men's Fashion:</label>
        <input type="checkbox" name="men's fashion" aria-checked="false" /><br>
        <label for="women">Women's Fashion:</label>
        <input type="checkbox" name="women's fashion" /><br>
        <label for="boys">Boy's Fashion:</label>
        <input type="checkbox" name="boy's fashion" /><br>
        <label for="baby">Baby's Essentials:</label>
        <input type="checkbox" name="baby's essentials" /><br>
        <label for="games">Video Games:</label>
        <input type="checkbox" name="video games" /><br>
        <label for="other">Other:</label>
        <input type="checkbox" name="other" /><br>
    </div>
</div>