<div>
    <h4 class="categs">Categories:</h4>
    <div class="categs">
        <label for="men">Men's Fashion:</label>
        <input type="checkbox" name="men's fashion" aria-checked="false" (click)="onClick('men\'s fashion')" /><br>
        <label for="women">Women's Fashion:</label>
        <input type="checkbox" name="women's fashion" (click)="onClick('women\'s fashion')" /><br>
        <label for="boys">Boy's Fashion:</label>
        <input type="checkbox" name="boy's fashion" (click)="onClick('boy\'s fashion')" /><br>
        <label for="baby">Baby's Essentials:</label>
        <input type="checkbox" name="baby's essentials" (click)="onClick('baby\'s essentials')" /><br>
        <label for="games">Video Games:</label>
        <input type="checkbox" name="video games" (click)="onClick('video games')" /><br>
        <label for="other">Other:</label>
        <input type="checkbox" name="other" (click)="onClick('other')" /><br>
    </div>
</div>