nav{
    margin: -8px -8px;
    width: 100%;
    position: fixed;
    background-color: #fcf2ff;
    border-style: none none solid none;
    border-width: 1px;
    border-color: darkmagenta;
    z-index: 9999;
}

ul{
    width: 100%;
    list-style-type: none;
}

li {
    display: inline;
    margin-left: 17px;
    padding: 10px;

}

li:hover{
    background-color: #efa8ff;
    border-radius: 4px;
}

#logout{
    margin-left: 870px;
}

li a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: blueviolet;
}