#searchComp{
    width: 100%;
    background-color: darkseagreen;
    margin-top: 43px;
    position: fixed;
    padding: 10px;
}

#search{
    margin-left: 575px;
}

input{
    padding: 7px;
    border-radius: 4px;
    border-style: none;
}

button{
    padding: 7px 15px;
    margin-left: 7px;
    border-style: none;
    border-radius: 4px;
    color: slategrey;
}